.project-card{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:16px 0px;
    padding:8px 0px;
    margin-bottom:60px;
}
.project-photo{
    width:40%;
    
}
.project-info{
    margin-right:24px;
    font-size:25px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    
}
.project-title{
    font-size: 20px;
    font-size:28px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
   
}
.project-tags{
    display:flex;
    max-width: 60%;
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    
}
.tag{
    padding: 4px 8px;
    background-color: #c1d3fe;
    border-radius: 8px;
    margin-right: 6px;
    margin-bottom: 4px;  
    border-radius: 12px;
}
.project-links a{
    text-decoration: none;
    color:black;
    padding-bottom: 15px;
  
}
.project-links a:hover{
    color:white;
}
.project-links{
    margin-top:6px;
    display:flex;
   
}
.link-button{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #c77dff; 
    width:max-content;
    padding:4px 8px;
    font-size: 16px;
    margin-right: 6px;
    border-radius: 20px;
    font-size:25px;
}   

.link-button i{
    display:flex;
    align-items: center;
    mask-repeat: 4px;
}
@media only screen and (max-width:720px){
    .project-photo{
        width:70%;
        padding-bottom: 30px;
    }
    .project-card{
        flex-direction:column-reverse;
    }
    .project-info{
        margin:auto;
        text-align:center;
        
        /* /* display:flex;
        
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    } 
    .project-tags{
        max-width:100%;
    }
}