.projects{
    display:flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
    align-items: center;
    margin-left:40px;
    margin-right:40px;
}
.section-title{
    font-size: 30px;
    font-weight: bolder;
}