.web{
    display:flex;
    flex:1;
    align-items: center;
    top:4px;
}
.web-option{
    font-size:25px;
    margin-right:16px;
    font-weight: 500;
    font-family: 'Dancing Script', cursive;
}
.web-option a{
    text-decoration: none;
    color:black;
    display:flex;
    align-items:center;
}
.web-option a:hover{
    color:white;
}
.option-icon{
    height: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.web-option:last-child{
    margin-right: 0;
}
.option-icon i:hover{
    color:#caf0f8;
}